<div id="grailsLogo" role="banner"><a href="http://grails.org/"><img src="./assets/grails_logo.png" alt="Grails"></a></div>
<div id="mainNav" class="navbar-default navbar-static-top" role="navigation">

    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://localhost:10080/jackanory-grails/userStory/index" class="navbar-brand">Jackanory</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <!-- menuItem.vm -->


                <li class=" active">
                    <!-- link.vm -->
                    <a routerLink="/show" title="User Story">
                        <!-- text.vm -->
                        User Story
                    </a>
                </li>
                <!-- menuItem.vm -->


                <li class="">
                    <a href="#" class="dropdown-toggle" id="admin" data-toggle="dropdown">
                        <!-- text.vm -->
                        Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="admin">
                        <!-- menuItem.vm -->


                        <li class="">
                            <!-- link.vm -->
                            <a href="http://localhost:10080/jackanory-grails/emailGatewayConfig/index" title="Email Gateway Config">
                                <!-- text.vm -->
                                Email Gateway Config
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- menuItem.vm -->


                <li class="">
                    <a href="#" class="dropdown-toggle" id="security" data-toggle="dropdown">
                        <!-- text.vm -->
						<a routerLink="/tabs" title="User Story">
							<!-- text.vm -->
							Security
						</a>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="security">
                        <!-- menuItem.vm -->


                        <li class="">
                            <!-- link.vm -->
                            <a href="http://localhost:10080/jackanory-grails/securityUser/index" title="Security User">
                                <!-- text.vm -->
                                Security User
                            </a>
                        </li>
                        <!-- menuItem.vm -->


                        <li class="">
                            <!-- link.vm -->
                            <a href="http://localhost:10080/jackanory-grails/securityGroup/index" title="Security Group">
                                <!-- text.vm -->
                                Security Group
                            </a>
                        </li>
                        <!-- menuItem.vm -->


                        <li class="">
                            <!-- link.vm -->
                            <a href="http://localhost:10080/jackanory-grails/securityScheme/index" title="Security Scheme">
                                <!-- text.vm -->
                                Security Scheme
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- menuItem.vm -->


                <li class="">
                    <a href="#" class="dropdown-toggle" id="generator" data-toggle="dropdown">
                        <!-- text.vm -->
                        Generator
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="generator">
                        <!-- menuItem.vm -->


                        <li class="">
                            <!-- link.vm -->
                            <a href="http://localhost:10080/jackanory-grails/organisationConfig/index" title="Organisation Config">
                                <!-- text.vm -->
                                Organisation Config
                            </a>
                        </li>
                        <!-- menuItem.vm -->


                        <li class="">
                            <!-- link.vm -->
                            <a href="http://localhost:10080/jackanory-grails/siteConfig/index" title="Site Config">
                                <!-- text.vm -->
                                Site Config
                            </a>
                        </li>
                        <!-- menuItem.vm -->


                        <li class="">
                            <!-- link.vm -->
                            <a href="http://localhost:10080/jackanory-grails/screenConfig/index" title="Screen Config">
                                <!-- text.vm -->
                                Screen Config
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>