<div class="openDrawer" (click)="navigationDrawer()">
	<span class="glyphicon glyphicon-plus"></span>
	<ul>
		<li><span class="letter">M</span></li>
		<li><span class="letter">F</span></li>
		<li><span class="letter">C</span></li>
		<li><span class="letter">T</span></li>
		<li><span class="letter">S</span></li>
	</ul>
</div>


<div class="navigation" [@navigation]="navigation">
	<div class="close-nav" (click)="navigationDrawer()">
		<span class="glyphicon glyphicon-plus"></span>
	</div>
	<ul>
		<li>Masters</li>
		<li>Fellows</li>
		<li>Callaghan</li>
		<li>Tester</li>
		<li>Support</li>
	</ul>
</div>