<!-- div.vm -->
<div class="row">
    <div class="col-xs-2">
        <h3>Resources</h3>
    </div>

    <div class="col-xs-10">
        <!-- heading.vm -->
        <h1 class="pull-left">Masters</h1>
    </div>
</div>

<div class="row">
<div class="col-xs-2">
    <ul class="nav nav-pills nav-stacked">

        <li class="active" role="presentation">
            <a href="http://localhost:10080/flexxource-grails/resourceDetail/show/11">
                Masters
            </a>
        </li>

        <li role="presentation">
            <a href="http://localhost:10080/flexxource-grails/resourceDetail/show/12">
                Fellows
            </a>
        </li>

        <li role="presentation">
            <a href="http://localhost:10080/flexxource-grails/resourceDetail/show/13">
                Callaghan
            </a>
        </li>

        <li role="presentation">
            <a href="http://localhost:10080/flexxource-grails/resourceDetail/show/14">
                Tester
            </a>
        </li>

        <li role="presentation">
            <a href="http://localhost:10080/flexxource-grails/resourceDetail/show/15">
                Support
            </a>
        </li>

    </ul>
</div>
<!-- div.vm -->
<div class="col-xs-10">
    <p>Content will go here</p>
</div>

<!-- div.vm -->
<div class="row">
    <div class="container-fluid">
        <!-- div.vm -->
        <div class="col-xs-12">
            <!-- p.vm -->
            <p>
                <!-- text.vm -->
                © Copyright 2019 Flexx Innovations Ltd.
            </p>
        </div>
    </div>
</div>


<div class="footer" role="contentinfo"></div>
<div id="spinner" class="spinner" style="display:none;">Loading…</div>

